body{
  width: 960px;
  margin: auto;
}
main img{
  height: 300px;
  width: 300px;
}

<<<<<<< HEAD
main section{
  float: left;
  height: 367px;
}

main p{
  width: 300px;
}

#photo-template{
  display: none;
}

footer{
=======
main, section {
>>>>>>> 2f7bf51fa3f6dc34a77cb606451db86a1f1035ac
  float: left;
  width: 960px;
  text-align: center;
}